.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    width: 100px;
}
.nav-items{
    padding: 0px 20px;
}
.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-card{
    margin: 5px;
    padding: 3px;
    width: 200px;
    height: 490px;
    background-color: #f0f0f0;
    /* font-size: 15px; */
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;

}
.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.login{
    padding: 0 20px;
    cursor: pointer;
}

.filter{
    display: flex;
}

.search-btn{
   margin: 0 10px;
   cursor: pointer;
 
}    


.menu-cart{
    width: 302px;
    height: 100px;
    background-color: white;
    border: 2px solid beige;
    border-radius: 20px;
}

.cuisine{
    margin: -15px 10px;
    text-decoration: underline;
    color: rgb(241, 87, 0);
    font-weight: 700;
    /* margin: -7px 018px; */
    margin: -7px 20px;
}
.rating{
    padding: 0px  10px;
    margin: 10px;
}
.deals{
    display: flex;
    
}
.div1{
    height: 50px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid beige;
}

.div2{
    height: 50px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-color:white;
    border: 2px solid beige;
}
.div3{
    height: 50px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-color:white;
    border: 2px solid beige;


}

.text{
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
    font-weight: bold;
    margin: 10px;
}
.text1{
    margin: -9px 40px 60px 40px;
    color: grey;
    font-weight: bold;
}

.menu1{
    height: 200px;
    width: 700px;
    border: 2px solid gray;
    margin: 10px;
    border-radius: 20px;
    /* background-color:white;
    border: 2px solid beige;
    /* margin: 20px; 
    display: flex;
    border-radius: 20px;
    justify-content: space-between; 
    */
}
.desc{
    margin:140px 0px 0px 0px;
    margin-left: -50px;
    padding-right: 100px;
    text-align: left;
    /* display: flex; */
    overflow: visible;
    
}
/* .menu2{
    height: 100px;
    width: 900px;
    background-color: turquoise;
} */

.menu-logo{
    /* width: 100%; */
    height: 100px;
    width: 200px;
    /* text-align: right; */
    /* align-items: center; */
    float: right;
    /* margin-bottom: 10px; */
    margin-top: -110px;
    padding-right: 10px;
    border-radius: 20px;
}
.ratings{
    color: rgb(27, 166, 114);
}

.descri{
    color: rgba(2, 6, 12, 0.6);
    font-family: sans-serif;
    letter-spacing: -0.3px;
    font-weight: 200;
    /* font-size: 17px; */
}















































/* shimmer */

.container{
  display: flex;
  flex-wrap: wrap;
}
  .card {
      position: relative;
      -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      background-color: #FFF;
      border-radius: 6px;
      height: 500px;
      overflow: hidden;
      width: 200px;
      margin: 40px auto;
    
    .shimmerBG {
      animation-duration: 2.2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: shimmer;
      animation-timing-function: linear;
      background: #ddd;
      background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
      background-size: 1200px 100%;
  }
  
  
 
    
      .media {
      height: 200px;
  }
  
  .p-32 {
      padding: 32px;
  }
  
  .title-line {
      height: 24px;
      width: 100%;
      margin-bottom: 12px;
      border-radius: 20px;
  }
  
  .content-line {
      height: 8px;
      width: 100%;
      margin-bottom: 16px;
      border-radius: 8px;
  }
    
    .end {
        width: 40%;
      }
  
  }
  
  
  .m-t-24 {
      margin-top: 24px;
  }


